html body {height 100% width 100%}
*{
  margin:0;
  padding:0;
}
body{width: 100%;
	height:100vh;
	background-image: url("Contact_background.png");
	background-size: cover;
  background-position:right center;
	background-repeat:no-repeat;
	}
.top-menu{
  /*font-family: 'Open Sans'; Helvetica-Normal;*/
  font-size: 35px;
  list-style: none;
  line-height: 1.6;
  text-decoration: none;
}

#menu{
  position: fixed;
  height: 100vh;
  width:100vw;
  display:flex;
  flex-direction: row;
  z-index: 2;
  display: none;
  margin:0;
  padding:0;
  top:0;
  min-width: 1800px;
  }
.box{
  padding-top: 60px;
  height: 100vh;
  overflow: hidden;
  display: block;
}
#left-menu{
  position:absolute; 
  width:42%;
  left:0;
  margin-left:0;
  background-color: #fdfffe;
  text-align: left;
  /*padding-left: 18%;*/
  z-index: 100;
  /*opacity: 0.3;*/
      }
.top-list{
  font-family: pasajero; arial;
  padding-bottom: 1.8em;
  text-transform: uppercase;
}
#top-list-left{
  font-size: 16px;
  color: #191b1a;
  letter-spacing: 0.3em;
  padding-top: 5%;
  margin-left: 50%;
}
li.left-li
 {
  margin-bottom: 0.4em;
  margin-left: 50%;
  }
a.left-a:hover {
  text-shadow:2px 2px #ffd6c7;
}
a.right-a:hover{
  color:#f15a24;
  font-weight:bold;
}
.left-a{
  font-family: century gothic, sans-serif;
  list-style: none;
  font-size: 0.9em;
  margin-bottom: 10em;
  letter-spacing: 0.09em;
  text-decoration: none;
  color:#191b1a;
}
#resume {
  background-color: #f15a24;
  font-size: 0.6em;
  color: #ededed;
  font-family: century gothic, sans-serif;
  font-weight: 500;
  margin-left: -28%;
  text-decoration: none;
  padding: 4px;
  letter-spacing: 0.05em;
}
#aboutme{
  margin-top: -1.9em;
  }
#email{
  height: 15%;
  width: 50%;
  margin-left:10%;
  margin-top: 30%;
  /*background-color: pink;*/
}
#email-text{
  font-family: century gothic, sans-serif;
  font-size: 0.9em;
  color: #191b1a;
  }

#email-img{
  margin-top:5%;
  margin-left:0;
  height: 95%;
  /*border: black 2px solid;*/
  background-image: url('email.png');
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}
#email-link{
  text-decoration:none;
}
#right-menu{
  position:absolute;
  width:58%;
  right:0;
  background-color:#191b1a;
  /*opacity: 0.2;*/
  text-align: left;
  /*padding-left: 0;*/
  z-index: 150;
}
#copyright{
  position:absolute;
  top:50%;
  right:5%;
  width: 2%;
  height:40%;
  text-align:center;
  writing-mode: vertical-rl;
  font-family: century gothic, sans-serif;
  font-size: 0.8em;
  color:white;
  /*background-color:pink;*/
}
#slogan{
  position:absolute;
  margin-top:-20px;
  margin-left:40%;
  /*background-color: pink;*/
  height: 5%;
  width: 60%;
  font-size: 1.5em;
}
#allabout, #smilingface, #andhappiness{
  display:inline-block;
  margin-left:0;
  margin-bottom:0;
  height:100%;
  text-align:center;
}

#allabout{
  width:35%;
  /*background-color: red;*/
 }
#smilingface{
  width:15%;
  height: 120%;
  background-image: url("Smiling face on overlay menu.png");
  /*background-color: pink;*/
  background-position:center,center;
  background-size:contain;
  background-repeat: no-repeat;
  margin-bottom: -2%;
}
#andhappiness{
  width:30%;
  /*background-color:yellow;*/
}
#top-list-right {
  padding-top: 28%;
  margin-left: 18%;
  margin-bottom: -3%;
  font-family: pasajero;
  color:white;
  letter-spacing: 0.4em;
  font-size: 0.9em;

}
.right-li{
/*background-color: orange;*/
margin-left: 18%;
font-size: 0.9em; 
color: white;
letter-spacing:0.05em;
font-family: century gothic, sans-serif;
}
.right-a{
  font-family: century gothic, sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.05em;
  text-decoration: capitalize;
  text-decoration: none;
  color:#ededed;
}
#cover {
  width: 100%;
  height: 100vh;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  border:none;
  position:relative;
  /*margin-top:0;*/
  box-sizing: border-box;
    }
.toggle-wrap {
    background-color:#191b1a;
    position:absolute;
    width: 60px;
    height: 40px;
    right: 0;
    top: 100px;
    cursor: pointer;
    position: fixed;
    z-index: 50;
    padding: auto;
      }
.toggle-bar{
  width: 38px;
  height: 3px;
  display:block;
  margin: 18px 11px;
  position: relative;
  border-top: 3px solid #fff;
    }

.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: #fff;
  height: 3px;  
  width: 38px;
  position: absolute;
  top: -12px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
}
.toggle-bar::after {
  top: 7px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 4px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#container{
  width:100%;
  height:100%;
  position:absolute;
}

.frame{
  width:20%;
  height: 60%;
  margin-top:10%;
  /*border:black solid 2px;*/
  position:absolute;
  float:left;
}
#tel{
  margin-top:10%;
  margin-left:10%;
}
.img{
  width:100%;
  height:35%;
  background-size:contain;
  background-repeat:no-repeat;
  margin-top:0;
}
#tel-img{
    background-image: url("Contact_TEL.png");
}
p{
  font-family:lato;
  font-size:30px;
  color:black;
  margin-top:5%;
  /*padding-left:20%;*/
  padding-right:auto;
}
i{
  color:black;
  font-size:45px;
  margin-top:5%;
  margin-left:10%;
}
#contactemail{
   margin-left:40%;
}
#contactemail-img{
  background-image:url("Contact_email.png");
}
#social{
  margin-left:70%;
}
#social-img{
  background-image: url("Contact_social.png");
}